body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scroll bars on desktop */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Global font settings */
body, button, .legend, .toggle-button, .toggle-road-button, .toggle-hq-button {
  font-family: 'Arial', sans-serif; /* Professional font */
}

#map {
  flex: 1;
  height: calc(100vh - 100px); /* Adjust height to account for header and footer */
  margin-bottom: 0; /* Remove margin to ensure full height */
}

.distance-label {
  background-color: white;
  padding: 2px 12px; /* Increased padding for wider boxes */
  border-radius: 3px;
  border: 1px solid black;
  font-size: 12px;
  white-space: nowrap; /* Ensure the text doesn't wrap */
  text-align: center; /* Center the text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-control .toggle-button button,
.leaflet-control .toggle-road-button button,
.leaflet-control .toggle-hq-button button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.leaflet-control .toggle-button button:hover,
.leaflet-control .toggle-road-button button:hover,
.leaflet-control .toggle-hq-button button:hover {
  background-color: #f0f0f0;
}

.leaflet-control .toggle-travel-button button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.leaflet-control .toggle-travel-button button:hover {
  background-color: #f0f0f0;
}

/* New styles for header and footer */
header {
  text-align: center;
  padding: 20px;
  background-color: #8B0000; /* Deep red background */
  color: white; /* White text color */
  border-bottom: 2px solid #000; /* Black border */
  font-family: 'Arial', sans-serif; /* Professional font */
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

footer {
  text-align: center;
  padding: 10px; /* Adjusted padding */
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
  width: 100%;
  color: #000; /* Black text color */
  position: relative;
  bottom: 0;
}

/* Styles for the legend */
.legend {
  position: absolute;
  bottom: 50px; /* Move the legend up */
  left: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the legend is on top of all other layers */
}

.legend h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Styles for the Locate button */
.locate {
  position: absolute;
  top: 140px; /* Position under the zoom buttons */
  left: 10px;
  background-color: white;
  border: 2px solid #8B0000; /* Deep red border */
  border-radius: 5px;
  width: 60px;
  height: 40px;
  font-size: 13px; /* Adjust font size */
  cursor: pointer;
  z-index: 1000; /* Ensure the button is on top of all other layers */
}

.locate:hover {
  background-color: #f0f0f0;
}

/* Styles for the Reset Map button */
.reset-map {
  position: absolute;
  top: 185px; /* Position under the Locate Me button */
  left: 10px;
  background-color: white;
  border: 2px solid #8B0000; /* Deep red border */
  border-radius: 5px;
  width: 60px;
  height: 40px;
  cursor: pointer;
  z-index: 1000; /* Ensure the button is on top of all other layers */
}

.reset-map:hover {
  background-color: #f0f0f0;
}

/* Styles for the weather box */
.weather-box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 3px;
  text-align: center;
  font-size: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the weather box is on top of other elements */
}

.weather-box div {
  padding: 2px;
  border-radius: 3px;
  margin: 1px 0;
  color: black; /* Ensure good contrast */
}

/* Styles for the travel information box */
.travel-info {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the travel info box is on top of other elements */
}

/* Styles for the share button */
.share-button {
  position: absolute;
  bottom: 10px; /* Position at the bottom */
  right: 10px; /* Position at the right */
  background-color: white;
  border: 2px solid #8B0000; /* Deep red border */
  border-radius: 5px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  z-index: 1000; /* Ensure the button is on top of all other layers */
}

.share-button button {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  cursor: pointer;
}

.share-button button:hover {
  background-color: #f0f0f0;
}
